---
network:
    version: 2
    renderer: networkd
    ethernets:
    {% for interface in interfaces | split(",") %}
    {{ interface }}:
            dhcp4: no
            dhcp6: no
    {% endfor %}

    bonds:
        bond0:
            interfaces: [{{ interfaces }}]
            dhcp4: no
            dhcp6: no
            addresses: [{{ bond_ip }}]
            routes: 
                - to: default
                  via: {{ bond_gateway }}
            parameters:
                mode: 802.3ad
                lacp-rate: fast
                mii-monitor-interval: 1
                transmit-hash-policy: layer2+3